.imagen-hover:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
  width: 35%;
}

.app-container {
  position: relative;
}

.floating-button-container {
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.floating-button {
  background-color: #3498db; /* Azul */
  color: #ffffff; /* Texto blanco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  /* Otros estilos... */
}

.floating-button:hover {
  background-color: #2980b9; /* Cambia el color al pasar el ratón */
  /* Otros estilos en hover... */
}
